*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
#site_wrap{
  height: 100vh;
  display: grid;
  grid-template-columns: 
    1fr
    repeat(4,minmax(0,272px))
    1fr
  ; 
  grid-template-rows:
    104px
    215px
    min-content
    373px
    1fr
  ;
  grid-template-areas:
    '. header header header header .'
    'featured_header featured_header featured_header featured_header featured_header featured_header'
    '. featured_main featured_main featured_main featured_profile .'
    '. content content content content .'
    'footer footer footer footer footer footer'
  ;

}
/* style for the header */
.header{
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo{
  width: 80px;
  height: 80px;
  margin-left: 18px;
}

.header .menu{
  display: flex;
  flex-direction: row;
  
}

.header .menu a{
  margin: 0px 8px;
  padding: 15px 30px;
  background-color: white;
  border: 2px solid #F2AB9B;
  color: #F2AB9B;
  border-radius: 45px;
  font-weight: bold;
  transition: .3s ease-in-out;
}

.header .menu .active a{
  color: white;
  background-color: #F2AB9B;
}

.header .menu a:hover{
  background-color: #F2AB9B;
  color: white;
} 

/* Featured-Header */
.featured_header{
  background-image: url("image/8ee2ec101027737.5f15dfdc51fb9.png");
  grid-area: featured_header;
  background-size: cover;
}

/* Main */
.featured_main{
  margin: 10px;
  grid-area: featured_main;
  
}
.featured_main h1,p{
  color: #707070;
}
.featured_main .btn{
  margin: 8px 8px 0px 0px;
  padding: 12px 24px;
  background-color: #5A8C87;
  border: 2px solid #5A8C87;
  color: white;
  border-radius: 45px;
  font-weight: bold;
  transition: .3s ease-in-out;
  display: inline-block;
  float: right;
}
.featured_profile{
  background-color: pink;
  grid-area: featured_profile;
}
.content{
  background-color: black;
  grid-area: content;
}
.footer{
  background-color: aqua;
  grid-area: footer;
}



/* Mobile device */
@media screen and (max-width:480px){
  #site_wrap{
    grid-template-areas:
      'header header header header header header'
      'featured_header featured_header featured_header featured_header featured_header featured_header'
      'featured_main featured_main featured_main featured_main featured_main featured_main'
      'content content content content content content'
      'footer footer footer footer footer footer'
    ;
  }
  .featured_profile{
    display: none;
  }
}